html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--fonte-padrao);
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--cor-primaria);
}

/* CABECALHO */
.cabecalho {
    background-color: #222222;
    color: var(--cor-padrao);
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cabecalho .link-cabecalho {
    color: var(--cor-padrao);
    transition: 0.2s;
}

.cabecalho .link-cabecalho:hover {
    color: var(--cor-secundaria);
}

.cabecalho .titulo h1 {
    font-size: 2.5rem;
}

.cabecalho .titulo span {
    font-size: 1.6rem;
}

.cabecalho nav ul {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

.cabecalho nav ul li {
    margin-left: 30px;
}

.cabecalho nav ul li a {
    color: var(--cor-padrao);
    transition: 0.3s ease-in-out;
    font-weight: 700;
}

.cabecalho nav ul li a:hover {
    background-color: var(--cor-secundaria);
    padding: 10px 20px;
    border-radius: 30px;
}

/* MAIN APRESENTACAO*/
.principal .apresentacao {
    margin-top: 100px;
    background-color: var(--cor-primaria);
    color: var(--cor-padrao);
}

.principal .apresentacao .conteudo-apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
}

.principal .apresentacao .nome h2 {
    font-size: 30px;
    margin: 10px 0;
}

.principal .apresentacao .nome span {
    font-size: 1.6rem;
}

.principal .apresentacao .conteudo-apresentacao .social {
    width: 130px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.social i {
    font-size: 2rem;
    transition: 0.3s ease-in-out;
}

.social a {
    color: var(--cor-padrao);
}

.social a:hover {
    color: var(--cor-secundaria);
}

.principal .apresentacao .foto-perfil img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

/* MAIN SOBRE-MIM*/
.principal .sobre-mim {
    color: var(--cor-padrao);
    margin: 100px 0;
}

.principal .sobre-mim h2 {
    color: var(--cor-padrao);
    text-align: center;
    font-size: 3.2rem;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.principal .sobre-mim .conteudo-sobre-mim {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 50px;
}

.principal .sobre-mim .conteudo-sobre-mim .texto-sobre-mim {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.principal .sobre-mim .conteudo-sobre-mim .texto-sobre-mim .botao-curriculo {
    background-color: var(--cor-secundaria);
    padding: 10px 30px;
    border-radius: 20px;
    color: var(--cor-padrao);
    transition: 0.3s ease-in-out;
    font-weight: 700;
}

.principal .sobre-mim .conteudo-sobre-mim .texto-sobre-mim .botao-curriculo:hover {
    background-color: var(--cor-padrao);
    color: var(--cor-secundaria);
}

/* PRINCIPAL HABILIDADES */
.principal .habilidades {
    color: var(--cor-padrao);
    margin: 100px 0;
}

.principal .habilidades h2 {
    color: var(--cor-padrao);
    text-align: center;
    font-size: 3.2rem;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.principal .habilidades .conteudo-habilidades i {
    color: white;
    font-size: 80px;
}

.principal .habilidades .conteudo-habilidades .html, .css, .js, .git, .github {
    width: 120px;
    margin: 15px;
    text-align: center;
    transition: 0.3s ease-in-out;
    padding: 10px;
    cursor: pointer;
}

.principal .habilidades .conteudo-habilidades .html:hover, .css:hover, .js:hover, .git:hover, .github:hover {
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.418);
}

.principal .habilidades .conteudo-habilidades {
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.principal .habilidades .conteudo-habilidades h3 {
    font-size: 2rem;
    margin: 10px 0;
}

.principal .habilidades .conteudo-habilidades p {
    font-size: 1.2rem;
}

/* PRINCIPAL PROJETOS */
.principal .projetos {
    color: var(--cor-padrao);
    margin: 100px 0;
    padding: 0 15px;
}

.principal .projetos h2 {
    color: var(--cor-padrao);
    text-align: center;
    font-size: 3.2rem;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.principal .projetos .painel-projetos {
    max-width: 1000px;
    margin: 0 auto;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.principal .projetos .painel-projetos:hover {
    filter: brightness(80%);
}

.principal .painel-projetos .conteudo-projetos {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
}

.principal .painel-projetos .conteudo-projetos .titulo-projeto {
    position: absolute;
    bottom: 0;
    background-color: #22222275;
    height: 30px;
    width: 100%;
    padding: 5px;
    font-size: 1.4rem;
}

.principal .painel-projetos .conteudo-projetos.mostrar {
    opacity: 1;
}

.principal .conteudo-projetos.projeto1 {
    background-image: url('../imagens/projeto1.jpg');
}

.principal .conteudo-projetos.projeto2 {
    background-image: url('../imagens/projeto2.jpg');    
}

.principal .conteudo-projetos.projeto3 {
    background-image: url('../imagens/projeto3.jpg');
}

.principal .conteudo-projetos.projeto4 {
    background-image: url('../imagens/projeto4.jpg'); 
}

.painel-projetos .seta {
    background-image: url('../imagens/seta.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 35px;
    height: 35px;
    position: absolute;

    /* ESCONDER O TEXTO DO HTML */
    text-indent: 100%;
    overflow: hidden;
}

.painel-projetos .seta.btn-voltar {
    left: 20px;
    transform: rotateY(180deg);
}

.painel-projetos .seta.btn-avancar {
    right: 20px;
}

/* RODAPE */
.rodape {
    background-color: #222222;
    min-height: 80px;
    text-align: center;
}

.rodape .conteudo-rodape {
    color: var(--cor-padrao);
    font-size: 1.6rem;
    padding: 10px;
}

.rodape .conteudo-rodape a {
    color: var(--cor-secundaria);
}

.rodape .conteudo-rodape a:hover {
    text-decoration: underline;
}

.rodape .social {
    margin: 10px 0;
}

.rodape .social i {
    font-size: 2rem;
    transition: 0.3s ease-in-out;
}

.rodape .social a {
    color: var(--cor-padrao);
    margin: 10px;
}

.rodape .social a:hover {
    color: var(--cor-secundaria);
}

@media (max-width: 425px) {

    .principal .apresentacao {
        margin-top: 20px;
    }

    .principal .apresentacao .conteudo-apresentacao .nome h2 {
        font-size: 2rem;
    }

    .principal .apresentacao .conteudo-apresentacao .foto-perfil img {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 900px) {

    .cabecalho .titulo {
        margin: 20px 0;
    }

    .cabecalho nav ul {
        display: block;
    }

    .cabecalho nav ul li {
        margin: 30px 0;
    }

    .principal .apresentacao .conteudo-apresentacao {
        flex-direction: column;
        text-align: center;
    }

    .principal .apresentacao .conteudo-apresentacao .social {
        margin: 20px auto;
    }

    .principal .apresentacao .foto-perfil img {
        margin-top: 20px;
    }

    .principal .sobre-mim .conteudo-sobre-mim {
        flex-direction: column;
        text-align: center;
    }

    .principal .sobre-mim .conteudo-sobre-mim .texto-sobre-mim {
        max-width: 350px;
        font-size: 1.6rem;
        font-weight: 700;
        margin-top: 30px;
    }
}